<!doctype html>
<title>Liebst du {{ thing }}?</title>
<p id="liebstdu">Liebst du {{ thing }}?</p>
<button id="ja" onclick="ja()">Ja</button>
<button id="nein" onclick="nein()">Nein</button>


<script>
    let second = false
    function ja() {
        if (second) {
            removeBtns()
            document.getElementById("liebstdu").innerHTML = "Das ist ja fantastisch.";
        } else {
            document.getElementById("liebstdu").innerHTML = "Würdest du sagen {{ thing }} ist dein Hobby?";
        }
        second = true
    }
    function nein() {
        if (second) {
            removeBtns()
            document.getElementById("liebstdu").innerHTML = "Ok.";
        } else {
            location.reload()
        }
        
    }
    function removeBtns() {
        document.getElementById("ja").remove();
        document.getElementById("nein").remove();
    }
</script>