<!doctype html>
<title>Liebst du {{ thing }}?</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<p id="liebstdu">Liebst du {{ thing }}?</p>
<button id="ja" onclick="ja()">Ja</button>
<button id="nein" onclick="nein()">Nein</button>


<script>
    let second = false
    function ja() {
        if (second) {
            removeBtns()
            document.getElementById("liebstdu").innerHTML = "Das ist ja fantastisch.";
        } else {
            {% if plural %}
            document.getElementById("liebstdu").innerHTML = "Würdest du sagen {{ thing }} sind dein Hobby?";
            {% else %}
            document.getElementById("liebstdu").innerHTML = "Würdest du sagen {{ thing }} ist dein Hobby?";
            {% endif %}
        }
        second = true
    }
    function nein() {
        if (second) {
            removeBtns()
            document.getElementById("liebstdu").innerHTML = "Ok.";
        } else {
            window.open(window.location.origin,"_self")

        }
        
    }
    function removeBtns() {
        document.getElementById("ja").remove();
        document.getElementById("nein").remove();
    }
</script>